<div class="container mt-5">
  <div class="header text-center">
    <h1>Welcome to Penny Pal, <%= user.name %>!</h1>
  </div>
  <hr />
  <% if (user.isAdmin) { %>
  <div class="admin-button mt-4 text-center">
    <a href="/admin" class="btn btn-primary">Admin</a>
  </div>
  <% } %>
  <div class="last-updated text-end mb-3 mt-5">
    <small>Last Updated: <%= new Date().toLocaleString() %></small>
  </div>
  <hr />
  <div class="savings">
    <h2>Savings</h2>
    <!-- Add the h3 for total amount here -->
    <h3>Total Savings: $<%= getTotalSavingsAmount(savings) %></h3>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Account Name</th>
            <th scope="col">Amount</th>
          </tr>
        </thead>
        <tbody>
          <% savings.forEach(saving => { %>
          <tr>
            <td><%= saving.accountName %></td>
            <td>$<%= saving.amount %></td>
          </tr>
          <% }); %>
        </tbody>
      </table>
    </div>
  </div>

  <div class="debt mt-4">
    <h2>Debt</h2>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Account Name</th>
            <th scope="col">Amount</th>
          </tr>
        </thead>
        <tbody>
          <% debt.forEach(debtItem => { %>
          <tr>
            <td><%= debtItem.description %></td>
            <td>$<%= debtItem.amount %></td>
          </tr>
          <% }); %>
        </tbody>
      </table>
    </div>
  </div>
</div>
