<div class="container mt-5">
  <div class="header text-center">
    <h1>Welcome to Penny Pal, <%= user.name %>!</h1>
  </div>
  <hr />
  <% if (user.isAdmin) { %>
  <div class="admin-button mt-4 text-center">
    <a href="/admin" class="btn btn-primary">Admin</a>
  </div>
  <% } %>
  <div class="last-updated text-end mb-3 mt-5">
    <small>Last Updated: <%= new Date().toLocaleString() %></small>
  </div>
  <hr />
  <div class="row">
    <div class="col-md-6">
      <div class="savings">
        <h2>Savings</h2>
        <!-- Add the h3 for total amount here -->
        <h3>Total: $<%= getTotalSavingsAmount(savings).toLocaleString() %></h3>
        <div class="table-responsive">
          <table class="table table-striped">
            <!-- Table headers -->
            <thead>
              <tr>
                <th scope="col">Account Name</th>
                <th scope="col">Amount</th>
                <% if (user.isAdmin) { %>
                <th scope="col">Actions</th>
                <% } %>
              </tr>
            </thead>
            <tbody>
              <% const sortedSavings = savings.sort((a, b) => b.amount -
              a.amount); %> <% sortedSavings.forEach(saving => { %>
              <tr>
                <td><%= saving.accountName %></td>
                <!-- Format amount with commas -->
                <td>$<%= saving.amount.toLocaleString() %></td>
                <% if (user.isAdmin) { %>
                <td>
                  <div class="btn-group" role="group">
                    <form
                      action="/update-saving/<%= saving._id %>"
                      method="POST"
                      style="display: inline"
                    >
                      <input
                        type="number"
                        name="newAmount"
                        value="<%= saving.amount %>"
                        class="form-control"
                      />
                      <button type="submit" class="btn btn-sm btn-warning mt-1">
                        Update
                      </button>
                    </form>
                    <!-- Add some space between the buttons -->
                    <div style="margin-left: 5px"></div>
                    <form
                      action="/delete-saving/<%= saving._id %>"
                      method="POST"
                      style="display: inline"
                    >
                      <button type="submit" class="btn btn-sm btn-danger mt-1">
                        Delete
                      </button>
                    </form>
                  </div>
                </td>
                <% } %>
              </tr>
              <% }); %>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="debt mt-4">
        <h2>Debt</h2>
        <h3>Total: $<%= getTotalDebtAmount(debt).toLocaleString() %></h3>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Account Name</th>
                <th scope="col">Amount</th>
                <% if (user.isAdmin) { %>
                <th scope="col">Actions</th>
                <% } %>
              </tr>
            </thead>
            <tbody>
              <% const sortedDebt = debt.sort((a, b) => b.amount - a.amount); %>
              <% sortedDebt.forEach(debtItem => { %>
              <tr>
                <td><%= debtItem.accountName %></td>
                <!-- Format amount with commas -->
                <td>$<%= debtItem.amount.toLocaleString() %></td>
                <% if (user.isAdmin) { %>
                <td>
                  <div class="btn-group" role="group">
                    <form
                      action="/update-debt/<%= debtItem._id %>"
                      method="POST"
                      style="display: inline"
                    >
                      <input
                        type="number"
                        name="newAmount"
                        value="<%= debtItem.amount %>"
                        class="form-control"
                      />
                      <button type="submit" class="btn btn-sm btn-warning mt-1">
                        Update
                      </button>
                    </form>
                    <!-- Add some space between the buttons -->
                    <div style="margin-left: 5px"></div>
                    <form
                      action="/delete-debt/<%= debtItem._id %>"
                      method="POST"
                      style="display: inline"
                    >
                      <button type="submit" class="btn btn-sm btn-danger mt-1">
                        Delete
                      </button>
                    </form>
                  </div>
                </td>
                <% } %>
              </tr>
              <% }); %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
