<div class="container mt-5">
  <div class="row mb-4">
    <div class="col-6">
      <form action="/logout" method="GET">
        <button type="submit" class="btn btn-primary">Logout</button>
      </form>
    </div>
    <div class="col-6">
      <% if (user.isAdmin) { %>
      <form action="/admin" method="GET">
        <button type="submit" class="btn btn-primary">Admin</button>
      </form>
      <% } %>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <% // Capitalize the first letter of the user's name %> <% const
      capitalizedUserName = user.name.charAt(0).toUpperCase() +
      user.name.slice(1); %>
      <h1 class="fs-1">
        Welcome to PennyPal, <br /><%= capitalizedUserName %>!
      </h1>
    </div>
    <hr />
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="savings">
        <h2>Savings</h2>
        <h3>
          Total: $<%= getTotalAmount(accounts, 'savings').toLocaleString() %>
        </h3>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Account</th>
                <th scope="col">Amount</th>
                <% if (user.isAdmin) { %>
                <th scope="col">Actions</th>
                <% } %>
              </tr>
            </thead>
            <tbody>
              <% const savingsAccounts = accounts.filter(account => account.type
              === 'savings'); %> <% savingsAccounts.forEach(account => { %>
              <tr>
                <td><%= account.accountName %></td>
                <td>
                  <a
                    href="#"
                    class="amount-link"
                    data-account-id="<%= account._id %>"
                    >$<%= account.amount.toLocaleString() %></a
                  >
                </td>
                <% if (user.isAdmin) { %>
                <td>
                  <form
                    action="/delete-account/<%= account._id %>"
                    method="POST"
                  >
                    <button type="submit" class="btn btn-danger">
                      <i class="bi bi-trash3-fill"></i>
                    </button>
                  </form>
                </td>
                <% } %>
              </tr>
              <% }); %>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="debt">
        <h2>Debt</h2>
        <h3>
          Total: $<%= getTotalAmount(accounts, 'debt').toLocaleString() %>
        </h3>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Account</th>
                <th scope="col">Amount</th>
                <% if (user.isAdmin) { %>
                <th scope="col">Actions</th>
                <% } %>
              </tr>
            </thead>
            <tbody>
              <% const debtAccounts = accounts.filter(account => account.type
              === 'debt'); %> <% debtAccounts.forEach(account => { %>
              <tr>
                <td><%= account.accountName %></td>
                <td>
                  <a
                    href="#"
                    class="amount-link"
                    data-account-id="<%= account._id %>"
                    >$<%= account.amount.toLocaleString() %></a
                  >
                </td>
                <% if (user.isAdmin) { %>
                <td>
                  <form
                    action="/delete-account/<%= account._id %>"
                    method="POST"
                  >
                    <button type="submit" class="btn btn-danger">
                      <i class="bi bi-trash3-fill"></i>
                    </button>
                  </form>
                </td>
                <% } %>
              </tr>
              <% }); %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener("click", function (event) {
    if (event.target.classList.contains("amount-link")) {
      event.preventDefault(); // Prevent the link's default behavior

      const linkElement = event.target;
      const accountId = linkElement.dataset.accountId;
      const originalAmount = parseFloat(
        linkElement.textContent.replace(/[^0-9.]/g, "")
      );

      // Create input field and update button
      const inputField = document.createElement("input");
      inputField.type = "number";
      inputField.value = originalAmount;
      inputField.classList.add("form-control");

      const updateButton = document.createElement("button");
      updateButton.textContent = "Update";
      updateButton.classList.add("btn", "btn-primary");

      // Build the form
      const form = document.createElement("form");
      form.action = "/update-account";
      form.method = "POST";

      const accountIdInput = document.createElement("input");
      accountIdInput.type = "hidden";
      accountIdInput.name = "accountId";
      accountIdInput.value = accountId;

      form.appendChild(accountIdInput);
      form.appendChild(inputField);
      form.appendChild(updateButton);

      // Replace the link with the form
      linkElement.parentNode.replaceChild(form, linkElement);
      inputField.focus();
    }
  });
</script>
