<div class="container mt-5">
  <div class="row mb-4">
    <div class="col-6">
      <!-- Logout button -->
      <form action="/logout" method="GET">
        <button type="submit" class="btn btn-primary">Logout</button>
      </form>
    </div>
    <div class="col-6">
      <!-- Render admin button if the user is an admin -->
      <% if (user.isAdmin) { %>
      <form action="/admin" method="GET">
        <button type="submit" class="btn btn-primary">Admin</button>
      </form>
      <% } %>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <% // Capitalize the first letter of the user's name %> <% const
      capitalizedUserName = user.name.charAt(0).toUpperCase() +
      user.name.slice(1); %>
      <h1 class="fs-1">
        Welcome to PennyPal, <br /><%= capitalizedUserName %>!
      </h1>
    </div>
    <hr />
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="savings">
        <h2>Savings</h2>
        <h3>
          Total: $<%= getTotalAmount(accounts, 'savings').toLocaleString() %>
        </h3>
        <!-- Savings accounts table -->
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Account</th>
                <th scope="col">Amount</th>
                <% if (user.isAdmin) { %>
                <th scope="col">Actions</th>
                <% } %>
              </tr>
            </thead>
            <tbody>
              <% const savingsAccounts = accounts.filter(account => account.type
              === 'savings'); %> <% savingsAccounts.forEach(account => { %>
              <tr>
                <td><%= account.accountName %></td>
                <td>$<%= account.amount.toLocaleString() %></td>
                <% if (user.isAdmin) { %>
                <td>
                  <form
                    action="/delete-account/<%= account._id %>"
                    method="POST"
                  >
                    <button type="submit" class="btn btn-danger">
                      <i class="bi bi-trash3-fill"></i>
                    </button>
                  </form>
                </td>
                <% } %>
              </tr>
              <% }); %>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="debt">
        <h2>Debt</h2>
        <h3>
          Total: $<%= getTotalAmount(accounts, 'debt').toLocaleString() %>
        </h3>
        <!-- Debt accounts table -->
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Account</th>
                <th scope="col">Amount</th>
                <% if (user.isAdmin) { %>
                <th scope="col">Actions</th>
                <% } %>
              </tr>
            </thead>
            <tbody>
              <% const debtAccounts = accounts.filter(account => account.type
              === 'debt'); %> <% debtAccounts.forEach(account => { %>
              <tr>
                <td><%= account.accountName %></td>
                <td>$<%= account.amount.toLocaleString() %></td>
                <% if (user.isAdmin) { %>
                <td>
                  <form
                    action="/delete-account/<%= account._id %>"
                    method="POST"
                  >
                    <button type="submit" class="btn btn-danger">
                      <i class="bi bi-trash3-fill"></i>
                    </button>
                  </form>
                </td>
                <% } %>
              </tr>
              <% }); %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
